body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar Styling */

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(to bottom, #1aff1a, #1affff);
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(to bottom, #ff751a, #cf220a);
}

/* Parallax Styling */

.parallax {
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.galaxy-img {
	position: absolute;
	min-height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	filter: brightness(50%);
}

.main-title {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	text-transform: uppercase;
	z-index: 1;
	color: whitesmoke;
	font-size: 22.5vh;
	letter-spacing: 3vh;
	white-space: nowrap;
	user-select: none;
	margin: 0%;
	padding: 0%;
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25), 6px 6px 12px rgba(204, 0, 102, 0.5);
}

.moon-img {
	position: absolute;
	height: 5vh;
	top: 50%;
	left: 50%;
	/*animation: spin-left 20s linear infinite;*/
	
	display: none;
	/*filter: brightness(80%);*/
}

.earth-img, .mercury-img, .jupiter-img, .neptune-img, .sun-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.earth-img, .mercury-img, .jupiter-img, .neptune-img {
	filter: brightness(80%);
}

.earth-img {
	height: 10vh;
	animation: earth-orbit 15s linear infinite;
}

.mercury-img {
	height: 5vh;
	animation: mercury-orbit 10s linear infinite;
}

.jupiter-img {
	height: 20vh;
	animation: jupiter-orbit 25s linear infinite;
}

.neptune-img {
	height: 15vh;
	animation: neptune-orbit 30s linear infinite;
}

.sun-img {
	height: 20vh;
	filter: brightness(90%) saturate(120%);
}

/* orbiting animation */

@keyframes earth-orbit {
	from { transform: rotate(0deg) translateX(200px); }
	to { transform: rotate(360deg) translateX(200px); }
}

@keyframes mercury-orbit {
	from { transform: rotate(0deg) translateX(-150px); }
	to { transform: rotate(360deg) translateX(-150px); }
}

@keyframes jupiter-orbit {
	from { transform: rotate(0deg) translateX(-400px); }
	to { transform: rotate(360deg) translateX(-400px); }
}

@keyframes neptune-orbit {
	from { transform: rotate(0deg) translateX(600px); }
	to { transform: rotate(360deg) translateX(600px); }
}

/* Content Styling */

.content {
	height: 100vh;
}

.content::before {
	content: "";
	position: absolute;
	bottom: -5%;
	height: 75px;
	width: 100%;
	background: linear-gradient(to top, #5D3FD3, transparent);
}